
@*@{
    Layout = null;
}*@

<!DOCTYPE html>
<script src="~/js/site/jquery-3.3.1.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

   
</head>
<body>
    <a asp-controller="Home" asp-action="Download">
        限速下载
    </a>
    <a href="/qr/7">
        下载
    </a>
    @*<img src="/qr/1" width="200" />
    <img src="/qr/2" width="200" />
    <img src="/qr/3" width="200" />*@
    <img src="/qr/4" width="200" />
    <img src="/qr/5" width="200" />
    <img src="/qr/6" width="200" />
</body>
</html>
